{% extends 'blogs/base.html' %}

{% block title %}Редактирование статьи - {{ object.title }}{% endblock %}

{% block content %}
<h1>Редактирование статьи</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{% url 'blogs:article-delete' object.pk %}" class="btn btn-danger">Удалить статью</a>
        <a href="{% url 'blogs:article-detail' object.pk %}" class="btn btn-secondary">Отмена</a>
    </div>
</form>
{% endblock %}