{% extends 'catalog/base.html' %}

{% block title %}Редактирование продукта - {{ object.name }}{% endblock %}

{% block content %}
<h2>Редактирование продукта</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{% url 'catalog:product-delete' object.pk %}" class="btn btn-danger">Удалить продукт</a>
        <a href="{% url 'catalog:product' object.pk %}" class="btn btn-secondary">Отмена</a>
    </div>
</form>
{% endblock %}