{% extends 'catalog/base.html' %}

{% block title %}Skystore - {{ product.name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Информация о продукте</h1>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    {% if product.image %}
                    <div class="text-center mb-4">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid" style="max-height: 300px;">
                    </div>
                    {% endif %}
                    <p><strong>Описание:</strong> {{ product.description }}</p>
                    <p><strong>Цена:</strong> {{ product.price }} руб.</p>
                    <p><strong>Категория:</strong> {{ product.category }}</p>
                    <div class="mt-4">
                        {% if user == product.owner %}
                        <a href="{% url 'catalog:product-update' product.pk %}" class="btn btn-warning">Редактировать</a>
                        {% endif %}
                        {% if user == product.owner or perms.catalog.delete_product %}
                        <a href="{% url 'catalog:product-delete' product.pk %}" class="btn btn-danger">Удалить</a>
                        {% endif %}
                        <a href="{% url 'catalog:home' %}" class="btn btn-secondary">Назад к списку продуктов</a>
                        {% if perms.catalog.can_unpublish_product %}
                            <a href="{% url 'catalog:product-unpublish' product.pk %}" class="btn btn-danger">Отменить публикацию</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}